<div class="w-screen h-screen bg-stone flex flex-col">
  <div class="bg-jeykll-69 p-4 max-h-16 w-screen">
    <nav class="flex items-center justify-between">
      <div class="text-white text-2xl font-bold">TopLetter</div>
      <ul class="flex space-x-4">
        <li class="text-white">Home</li>
        <li class="text-white">Tasks</li>
        <li class="text-white">Settings</li>
      </ul>
    </nav>
  </div>
  <div class="content-center justify-center h-screen flex items-center">
    <div class="rounded-md bg-stonelight w-1/4 flex justify-center items-center p-4 flex-col">
      <div class="flex flex-row">
        <p class="font-bold mr-1">{{this.name}}</p>
        <p> says... </p>
      </div>
      <p>{{this.fix(this.topLetter)}}</p>
    </div>
  </div>
</div>
